* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #143E7F;
}

svg:not(.loading-indicator) {
  width: 64px;
  height: 64px;
}

svg.loading-indicator {
  width: 24px;
  height: 24px;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

h3.project-name {
  margin-top: 64px;
  color: #FFFFFF;
  margin-bottom: 0;
}

h4.project-component {
  color: #EACC68;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-container {
  width: 320px;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-container input {
  padding: 8px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #143E7F;
  width: 100%;
}

.search-container .loading-indicator {
  position: absolute;
  right: 12px;
}

.search-container input:focus-visible {
  outline: none;
}

.loading-indicator {
  animation: spin 1.5s linear infinite;
}

.project-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 12px;
  column-gap: 1rem;
}

.project-list {
  background-color: white;
  width: 320px;
  height: 70vh;
  overflow-y: scroll;
  text-align: left;
  border: 1px solid #143E7F;
  border-radius: 12px;
  padding: 12px;
  scrollbar-color: #143E7F;
  scrollbar-width: none;
}

.readme-container {
  width: 50%;
  padding: 20px;
  padding-top: 0px;
}

.readme-result-container {
  background-color: white;
  height: 70vh;
  padding: 12px;
  border-radius: 12px;
  color: #333;
  overflow-y: scroll;
  scrollbar-width: none;
  text-align: left;
}

.readme-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: white;
  border-radius: 12px;
}

.project-list ul {
  list-style-type: none;
  padding: 0;
}

.project-list li {
  padding: 10px;
  padding-left: 12px;
  cursor: pointer;
  margin: 2px 0px;
}

.project-list li:hover,
.project-list li.active {
  background-color: #143E7F;
  color: white;
  border-radius: 12px;
}

.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.empty-container p {
  margin-top: 24px;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  border-radius: 12px;
}

@media (max-width: 991px) {
  body {
    padding: 0px 24px;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
  }

  .project-container .project-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .project-list {
    width: 100%;
    padding: 0;
  }

  .project-list li {
    margin: 0px 8px;
  }

  .readme-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0px 12px;
  }
}

/* Keyframe animation for spinning */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}